@use '../../../../assets/styles/theming' as *;

.row {
    display: flex;
    background: $white;
    border: $border;
    flex-wrap: wrap;
    gap: 1rem;

    .map {
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
    }
}
