<section class="contact-us">
    <h2 class="heading"><span>contact</span> us</h2>
    <div class="row">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.9669065711832!2d23.315830115498045!3d42.662056679167826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa855a9aa30d93%3A0xfd3b703526c0cac7!2sShapeshifter%20BG!5e0!3m2!1sbg!2sbg!4v1663307841495!5m2!1sbg!2sbg"
            class="map"
            allowfullscreen="false"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <app-contact-us-form></app-contact-us-form>
    </div>
</section>
