<nav class="sidenav" [ngClass]="{ 'sidenav-expanded': expanded }">
    <div class="logo-container">
        <i
            class="fa-solid fa-arrow-right expand-icon"
            (click)="expand()"
            *ngIf="!expanded"
        ></i>

        <h3 class="logo-text" *ngIf="expanded">ShapeShifter</h3>

        <i
            class="fas fa-xmark close-icon"
            *ngIf="expanded"
            (click)="collapse()"
        ></i>
    </div>

    <ul class="nav-items-container">
        <li
            class="nav-item"
            *ngFor="let data of navData"
            [ngClass]="{
                hidden:
                    data.isAdminOnly &&
                    !currentUserService.isTheCurrentUserAdmin()
            }"
        >
            <a
                routerLink="{{ data.routeLink }}"
                routerLinkActive="link-active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="link"
                (click)="data.isLogoutButton && logout()"
                [matTooltip]="data.label"
                matTooltipPosition="right"
            >
                <i
                    [class]="data.icon"
                    class="link-icon"
                    [ngClass]="{ 'link-icon-expanded': expanded }"
                ></i>
                <span class="link-text" *ngIf="expanded">
                    {{ data.label }}
                </span>
            </a>
        </li>
    </ul>
</nav>
