@use '../../../../../assets/styles/theming' as *;

.sidenav {
    background-color: $darker-white;
    transition: all 500ms ease;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 6rem;
    height: 100vh;
    box-shadow: 0.065rem 0 1.25rem 0 $gray;
    margin-right: 1rem;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem 0 1rem;

        .expand-icon {
            color: $main-color;
            background-color: transparent;
            text-align: center;
            padding: 0.5rem;
            font-size: 24px;
            cursor: pointer;
        }

        .logo-text {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            font-size: 2rem;
            font-weight: 500;
            color: $main-color;
        }

        .close-icon {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            color: $main-color;
            font-size: 2.5rem;

            &:hover {
                color: $black;
            }
        }
    }

    .nav-items-container {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;
        align-items: center;
        height: calc(100% - 3.65rem);
        cursor: pointer;

        .nav-item {
            width: 90%;

            &.hidden {
                display: none;
            }

            .link {
                border-radius: 0.625rem;
                display: flex;
                align-items: center;
                height: 5rem;
                color: $main-color;
                transition: all 0.3s ease;
                margin: 0 5px;

                .link-icon {
                    font-size: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }

                .link-icon-expanded {
                    margin-left: 1rem;
                    margin-right: 0;
                }

                .link-text {
                    margin-left: 1rem;
                    font-size: 18px;
                }
            }

            &:hover {
                .link {
                    background-color: $white;
                    box-shadow: $button-shadow;
                }
            }

            .link-active {
                background-color: $white;
                box-shadow: $button-shadow;
            }
        }
    }

    &.sidenav-expanded {
        width: 17vw;
    }
}
