<section>
    <div class="content">
        <img
            [src]="profilePictureUrl"
            alt="Profile picture"
            class="profile-picture"
        />
        <h1 class="username">{{ username }}</h1>
        <p class="email">{{ email }}</p>
    </div>
</section>
