@use '../../../../../assets/styles/theming' as *;

section {
    display: flex;
    justify-content: space-evenly;
    background-color: $white;
    margin-bottom: 5rem;
    background-image: url('../../../../../assets/images/profile-header-background-image.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20vw;
    box-shadow: rgb(38, 57, 77) 0px 20px 20px -15px;

    .content {
        text-align: center;

        .profile-picture {
            max-width: 30vh;
            border-radius: 50%;
            border: $border;
            margin-bottom: 2rem;
        }

        .username {
            font-size: 2rem;
            margin-bottom: 5px;
            letter-spacing: 2px;
            font-weight: 500;
        }

        .email {
            font-size: 2rem;
            color: $main-color;
        }
    }
}
