<footer>
    <div class="socials">
        <a href="#" class="facebook fab fa-facebook-f"></a>
        <a href="#" class="instagram fab fa-instagram"></a>
        <a href="#" class="twitter fab fa-twitter"></a>
        <a href="#" class="linkedin fab fa-linkedin"></a>
    </div>

    <div class="links">
        <a routerLink="" fragment="about-us">About us</a>
        <a routerLink="" fragment="features">Features</a>
        <a routerLink="" fragment="reviews">Reviews</a>
        <a routerLink="" fragment="contact-us">Contact us</a>
    </div>

    <div class="credit">
        created by
        <a href="https://www.instagram.com/georgikerkelov/" target="_blank">
            qwest
        </a>
        | all rights reserved
    </div>
</footer>
