<div class="list">
    <p
        class="empty"
        *ngIf="
            !(editExercisesService.exercisesForEditing | async)?.length;
            else list
        "
    >
        The list is empty!
    </p>
    <ng-template #list>
        <h2 class="title">Edit exercises</h2>

        <div
            class="list-option"
            *ngFor="
                let exercise of editExercisesService.exercisesForEditing | async
            "
        >
            <app-exercises-form
                [exerciseFormTemplate]="exercise"
                (close)="removeClicked($event)"
            ></app-exercises-form>
        </div>
    </ng-template>
</div>
