@use '../../../../../assets/styles/theming.scss' as *;

.list {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;

    .title {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        color: $main-color;
    }

    .empty {
        font-size: 3rem;
        text-align: center;
    }

    .list-option {
        width: 70%;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        box-shadow: $section-shadow;
        background-color: $darker-white;
        padding: 4rem;
    }
}
