<form [formGroup]="searchExercisesForm">
    <div class="select-and-button-row">
        <app-select-muscle-groups
            label="Primary muscles"
            [controlToKeepUpdated]="primaryMuscleGroupsControl"
        ></app-select-muscle-groups>
        <button
            (click)="primaryMusclesButtonClicked()"
            mat-raised-button
            color="primary"
            [disabled]="!primaryMuscleGroupsControl?.valid"
        >
            <mat-icon>search</mat-icon>
            Search
        </button>
    </div>

    <div class="select-and-button-row">
        <app-select-muscle-groups
            label="Secondary muscles"
            [controlToKeepUpdated]="secondaryMuscleGroupsControl"
        ></app-select-muscle-groups>

        <button
            [disabled]="!secondaryMuscleGroupsControl?.valid"
            (click)="secondaryMusclesButtonClicked()"
            mat-raised-button
            color="primary"
        >
            <mat-icon>search</mat-icon>
            Search
        </button>
    </div>

    <mat-radio-group
        formControlName="flag"
        *ngIf="secondaryMuscleGroupsControl?.value.length > 1"
    >
        <mat-radio-button
            *ngFor="let flagOption of flagOptions"
            value="{{ flagOption }}"
        >
            {{ flagOption }}
        </mat-radio-button>
    </mat-radio-group>
</form>
