@use '../../../../assets/styles/theming' as *;

form {
    .select-and-button-row {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;

        app-select-muscle-groups {
            width: 60%;
            font-size: 1rem;
        }

        button {
            box-shadow: $button-shadow;
        }
    }

    mat-radio-group {
        display: block;
        text-align: center;

        mat-radio-button {
            font-size: 2rem;
            margin-left: 20px;
        }
    }
}
