@use '../../../../assets/styles/theming' as *;

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, $white, #666);

    h1 {
        font-size: 15rem;
        margin-bottom: 10px;
        color: $main-color;
    }

    p {
        font-size: 5rem;
    }

    .btn {
        margin-top: 30px;
    }
}
