@use '../../../../../assets/styles/theming' as *;

mat-card {
    background-color: $darker-white;
    border-radius: 30px;
    //TODO: find out why this style is not applied without the !important
    box-shadow: $section-shadow !important;

    mat-card-header {
        display: block;
        width: 100%;

        mat-card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            color: $main-color;

            .close-icon {
                padding: 1rem;
                font-size: 3rem;
                cursor: pointer;
                color: $main-color;

                &:hover {
                    background-color: $white;
                    border-radius: 20px;
                }
            }
        }

        mat-card-subtitle {
            font-size: 1.5rem;
            position: relative;
            bottom: 1rem;
        }
    }
}
