<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ formWorkoutTemplate?._id ? 'Edit workout' : 'Create workout' }}
            <i
                class="fa-solid fa-xmark close-icon"
                (click)="currentWorkoutClosed()"
            ></i>
        </mat-card-title>
        <mat-card-subtitle>
            And then check it out in the calendar
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-workouts-form
            [workoutFormTemplate]="formWorkoutTemplate"
            (close)="currentWorkoutClosed()"
            (done)="currentWorkoutClosed()"
        ></app-workouts-form>
    </mat-card-content>
</mat-card>
