<app-navbar></app-navbar>

<app-profile-header-section></app-profile-header-section>`
<app-personal-information-section></app-personal-information-section>

<section class="change-credentials-container">
    <app-change-email></app-change-email>
    <app-change-password></app-change-password>
    <app-delete-account></app-delete-account>
</section>
