@use '../../../../assets/styles/theming' as *;

.blog {
    border: $border;
    background-color: $white;

    .image {
        height: 25rem;
        overflow: hidden;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            transition: 0.2s linear;
        }
    }

    &:hover {
        .image {
            img {
                transform: scale(1.2);
            }
        }
    }

    .content {
        padding: 2rem;
        text-align: center;

        .title {
            font-size: 2.5rem;
            line-height: 1.5;
            color: $main-color;
        }

        .title:hover {
            color: $main-color;
        }

        span {
            color: $main-color;
            display: block;
            padding-top: 1rem;
            font-size: 2rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 1.8;
            color: $black;
            padding: 1rem 0;
        }

        .btn {
            box-shadow: $button-shadow;
        }
    }
}
