<section>
    <i class="fa-solid fa-lock lock"></i>
    <h1>Access to this page is restricted</h1>
    <p>Please check with the site admin if you believe this is a mistake.</p>
    <div>
        <a routerLink="/public" class="btn">Go back to home page</a>
    </div>
</section>
