<div class="header" [ngClass]="{ center: isShowingSpinner }">
    <mat-spinner *ngIf="isShowingSpinner"></mat-spinner>

    <ng-container *ngIf="!isShowingSpinner">
        <i
            class="fa-solid fa-angles-left"
            (click)="headerButtonClicked('year', 'previous')"
        ></i>

        <i
            class="fa-solid fa-angle-left"
            (click)="headerButtonClicked('month', 'previous')"
        ></i>

        <span class="label">{{ periodLabel }}</span>

        <i
            class="fa-solid fa-angle-right"
            (click)="headerButtonClicked('month', 'next')"
        ></i>
        <i
            class="fa-solid fa-angles-right"
            (click)="headerButtonClicked('year', 'next')"
        ></i>
    </ng-container>
</div>
