@use '../../../../../assets/styles/theming' as *;

.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

    i {
        font-size: 2rem;
        padding: 1rem;
        cursor: pointer;
        color: $main-color;

        &:hover {
            border-radius: 30%;
            background-color: #fff;
        }
    }

    .label {
        font-size: 2rem;
        color: $main-color;
    }

    &.center {
        justify-content: center;
    }
}
