<form [formGroup]="personalInformationForm">
    <mat-form-field>
        <input
            matInput
            placeholder="Username"
            formControlName="username"
            readonly="{{ !canEdit }}"
        />
    </mat-form-field>
    <app-error-message [control]="usernameControl"> </app-error-message>

    <mat-form-field>
        <input
            matInput
            type="number"
            placeholder="Height"
            formControlName="height"
            readonly="{{ !canEdit }}"
        />
    </mat-form-field>
    <app-error-message [control]="heightControl"> </app-error-message>

    <mat-form-field>
        <input
            #input
            matInput
            [matDatepicker]="picker"
            placeholder="Date of birth"
            formControlName="dateOfBirth"
            readonly="{{ !canEdit }}"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            [disabled]="!canEdit"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-radio-group formControlName="gender">
        <mat-radio-button
            *ngFor="let gender of genders"
            value="{{ gender }}"
            [disabled]="!canEdit && gender !== userTemplate?.gender"
        >
            {{ gender | titlecase }}
        </mat-radio-button>
    </mat-radio-group>

    <app-upload-widget
        text="Change profile picture"
        (newPictureUploaded)="changeProfilePicture($event)"
    ></app-upload-widget>
</form>

<div *ngIf="canEdit" class="actions">
    <button class="btn" mat-raised-button (click)="cancel()">Cancel</button>
    <button
        class="btn"
        mat-raised-button
        color="primary"
        (click)="saveClicked()"
        [disabled]="!personalInformationForm.valid"
    >
        Save
    </button>
</div>
