@use '../../../../../assets/styles/theming' as *;

form {
    mat-form-field {
        display: block;
        font-size: 2rem;
    }

    mat-radio-button {
        font-size: 2rem;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    app-upload-widget {
        margin-top: 1rem;
        display: block;
        font-size: 0.75rem;
    }
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    button {
        box-shadow: $button-shadow;
    }
}
