<section class="features">
    <h2 class="heading">our <span>features</span></h2>

    <div class="features-container">
        <app-feature
            [imageSource]="'../../../../assets/images/measurement-events.jpg'"
            [title]="'Measurement events'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/workout-templates.png'"
            [title]="'Workout templates'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/workout-executions.png'"
            [title]="'Workout executions'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/progress-graphs.png'"
            [title]="'Progress graphs'"
        >
        </app-feature>

        <app-feature
            [imageSource]="'../../../../assets/images/support-image.png'"
            [title]="'Amazing support'"
        >
        </app-feature>
    </div>
</section>
