<form [formGroup]="createExerciseForm">
    <i
        class="fa-solid fa-xmark close-icon"
        *ngIf="exerciseFormTemplate"
        (click)="closeClicked()"
    ></i>

    <div class="name-and-cardio-container">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" />
            <app-error-message [control]="nameControl"></app-error-message>
        </mat-form-field>
        <mat-checkbox
            formControlName="isCardio"
            (change)="checkboxClicked($event)"
            >Is cardio</mat-checkbox
        >
    </div>

    <ng-container *ngIf="!this.isCardioControl?.value">
        <app-select-muscle-groups
            label="Primary muscle"
            [allowOnlyOneSelection]="true"
            [controlToKeepUpdated]="primaryMuscleControl"
        ></app-select-muscle-groups>
        <app-error-message [control]="primaryMuscleControl"></app-error-message>

        <app-select-muscle-groups
            label="Secondary muscles"
            [controlToKeepUpdated]="secondaryMusclesControl"
        ></app-select-muscle-groups>
        <app-error-message
            [control]="secondaryMusclesControl"
        ></app-error-message>
    </ng-container>

    <div class="actions">
        <button
            mat-raised-button
            *ngIf="exerciseFormTemplate"
            (click)="deleteClicked()"
            color="warn"
        >
            Delete
        </button>
        <button
            mat-raised-button
            (click)="saveClicked()"
            color="primary"
            [disabled]="!createExerciseForm.valid"
        >
            Save
        </button>
    </div>
</form>
