@use '../../../../../assets/styles/theming' as *;

form {
    .close-icon {
        display: inline-block;
        margin-left: calc(100% - 2rem);
        position: relative;
        bottom: 3rem;
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
        color: $main-color;

        &:hover {
            background-color: $white;
            border-radius: 20px;
        }
    }

    .name-and-cardio-container {
        display: flex;
        justify-content: center;
        align-items: baseline;

        mat-form-field {
            width: 40%;
            font-size: 2rem;
        }

        mat-checkbox {
            transform: scale(1.5);
            margin-left: 4rem;
            font-size: 1.5rem;
        }
    }

    app-select-muscle-groups {
        font-size: 1rem;
    }

    app-error-message {
        position: relative;
        bottom: 1.5rem;
    }

    .actions {
        display: flex;
        justify-content: center;

        button {
            min-width: 15%;
            margin-left: 2rem;
        }
    }
}
