@use '../../../../../assets/styles/theming' as *;

form {
    min-width: 60vw;
    display: block;

    .select-and-button-row {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;

        button {
            box-shadow: $button-shadow;
        }

        app-select-muscle-groups {
            width: 60%;
            font-size: 1rem;
        }
    }

    .search-by-exercises-btn {
        display: block;
        margin: 0 auto 3rem auto;
        box-shadow: $button-shadow;
    }

    .divider {
        min-height: 1px;
    }

    .date-range-heading {
        color: $main-color;
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        margin: 1rem 0 2rem 0;
    }

    app-date-range-picker {
        margin: auto;
        display: block;
        width: 90%;
        font-size: 0.75rem;
    }
}
