<form [formGroup]="searchWorkoutsForm">
    <div class="select-and-button-row">
        <app-select-muscle-groups
            label="Search by muscle groups"
            [controlToKeepUpdated]="musclesControl"
        ></app-select-muscle-groups>
        <button
            type="button"
            (click)="searchByMuscleGroupsClicked()"
            mat-raised-button
            color="primary"
            [disabled]="!musclesControl?.valid"
        >
            <mat-icon>search</mat-icon>
            Search
        </button>
    </div>
    <button
        mat-raised-button
        type="button"
        color="primary"
        class="btn search-by-exercises-btn"
        (click)="openSearchExercisesDialog()"
    >
        Search by exercises
    </button>
    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <h3 class="date-range-heading">Time frames</h3>
    <app-date-range-picker
        (rangePicked)="saveTimeFrame($event)"
    ></app-date-range-picker>
</form>
