<ng-container
    *ngFor="
        let workout of workouts;
        last as isLast;
        first as isFirst;
        index as index
    "
>
    <div class="workout" (click)="workoutClicked(index)">
        <p class="text">
            <mat-icon>
                <span class="material-symbols-outlined">
                    heart_plus
                </span></mat-icon
            >
            {{
                workout.workoutTemplate?.name
                    ? workout.workoutTemplate?.name
                    : 'Anonymous'
            }}
        </p>
    </div>

    <div class="divider" *ngIf="!isLast"></div>
</ng-container>
