@use '../../../../../assets/styles/theming' as *;

.workout {
    cursor: pointer;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border-radius: 30px;

    .text {
        color: $main-color;
        font-size: 2rem;
    }

    &:hover {
        background-color: $darker-white;
    }
}

.divider {
    background-color: $main-color;
    height: 1px;
}
