<section class="reviews">
    <h1 class="heading">customer's <span>review</span></h1>

    <div class="reviews-container">
        <app-review
            [imageSource]="'../../../../assets/images/customers-review-2.jpg'"
            [starsCount]="4"
            [shouldAddHalfStarAtTheEnd]="true"
            [name]="'Natalie Brunell'"
        >
            This is my personal favourite fitness tracking app. I have been
            using it since almost two years now and it's absolutely amazing. The
            first thing that I do in the morning is to weight myself and create
            a new measurement event in the app. It has changed my life.
        </app-review>
        <app-review
            [imageSource]="'../../../../assets/images/customers-review-1.jpg'"
            [starsCount]="4"
            [name]="'Michael Saylor'"
        >
            If you want to build muscle or loose fat you are in the right place.
            I can tell you from experience that this app is something that you
            have never seen before and that will help you make a tremendous
            progress with your body situation.
        </app-review>
        <app-review
            [imageSource]="'../../../../assets/images/customers-review-3.jpg'"
            [starsCount]="4"
            [name]="'Brenda Gentry'"
        >
            The user interface is great. The app is super easy and intuitive to
            use and I am very use to it. My favorite functionality are the
            charts. It's very motivating when you see your progress visually. I
            also believe that new features are coming soon and I am very
            excited.
        </app-review>
    </div>
</section>
