@use '../../../../assets/styles/theming.scss' as *;

mat-form-field {
    display: block;
    font-size: 2em;

    mat-chip {
        background-color: $white;
        color: $main-color;

        mat-icon {
            color: $main-color;
        }
    }
}
