<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <mat-chip-list #chipList>
        <mat-chip
            *ngFor="let muscle of selectedMuscles"
            (removed)="muscleRemoved(muscle)"
        >
            {{ muscle }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input
            *ngIf="canAddMore"
            placeholder="Add muscle..."
            #musclesInput
            [formControl]="musclesControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
        />
    </mat-chip-list>
    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="muscleSelected($event)"
    >
        <mat-option
            *ngFor="let muscle of filteredMuscles | async"
            [value]="muscle"
        >
            {{ muscle }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
