<app-navbar></app-navbar>
<app-main-section></app-main-section>
<app-features-section id="features"></app-features-section>
<app-reviews-section id="reviews"></app-reviews-section>
<app-about-section id="about-us"></app-about-section>
<app-contact-us-section id="contact-us"></app-contact-us-section>
<app-blogs-section id="blogs"></app-blogs-section>
<app-footer></app-footer>
