<app-navbar></app-navbar>

<h2 class="title">Measurement events calendar</h2>
<section>
    <div class="container">
        <mat-calendar [headerComponent]="header"></mat-calendar>
        <app-create-ms-section></app-create-ms-section>
    </div>
</section>
