@use '../../../../../assets/styles/theming' as *;

.title {
    margin-top: 2rem;
    font-size: 3rem;
    color: $main-color;
    font-weight: normal;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    height: 90vh;

    .container {
        background-color: $darker-white;
        margin: auto;
        padding-top: 3rem;
        width: 45%;
        margin-top: auto;
        box-shadow: $section-shadow;
        border-radius: 45px;

        mat-calendar {
            max-width: 30vw;
            margin: auto;
        }
    }
}
