<div class="socials">
    <a href="#" class="facebook fab fa-facebook-f"></a>
    <a href="#" class="instagram fab fa-instagram"></a>
    <a href="#" class="twitter fab fa-twitter"></a>
    <a href="#" class="linkedin fab fa-linkedin"></a>
</div>
