<section>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <app-forms-socials></app-forms-socials>

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <app-error-message [control]="emailControl"> </app-error-message>

        <mat-form-field>
            <input
                matInput
                [type]="isPasswordVisible ? 'text' : 'password'"
                placeholder="Password"
                formControlName="password"
            />
            <mat-hint class="password-hint">
                Must be at least six characters with a number and special symbol
            </mat-hint>

            <mat-icon
                matSuffix
                *ngIf="passwordControl?.value.length && isPasswordVisible"
                (click)="togglePasswordVisibility()"
            >
                visibility_off
            </mat-icon>
            <mat-icon
                matSuffix
                *ngIf="passwordControl?.value.length && !isPasswordVisible"
                (click)="togglePasswordVisibility()"
            >
                visibility
            </mat-icon>
        </mat-form-field>
        <app-error-message
            class="password-error-message"
            [control]="passwordControl"
        >
        </app-error-message>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn submit-btn"
        >
            Submit
        </button>
    </form>
</section>
