<section>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>Personal information</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="header">
            <p>To edit click the button on the right</p>
            <i
                class="edit-icon fa-solid fa-pen-to-square edit-icon"
                (click)="editIconClicked()"
            ></i>
        </div>

        <mat-card-content class="content">
            <app-personal-information-form
                [canEdit]="canEdit"
                (setCanEditToFalse)="setCanEditToFalse()"
            ></app-personal-information-form>
        </mat-card-content>
    </mat-expansion-panel>
</section>
