@use '../../../../../assets/styles/theming' as *;

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    mat-expansion-panel {
        width: 75%;
        background-color: $white;
        border-radius: 20px;
        box-shadow: $button-shadow;

        mat-panel-title {
            font-size: 2rem;
            color: $main-color;
        }

        .header {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            color: gray;

            .edit-icon {
                font-size: 2.5rem;
                padding: 0.75rem 0.75rem 1rem 1rem;
                color: $main-color;
                cursor: pointer;

                &:hover {
                    border-radius: 30%;
                    background-color: $darker-white;
                }
            }

            p {
                position: relative;
                bottom: 2rem;
            }
        }

        .content {
            text-align: center;
        }

        .actions {
            text-align: center;
        }
    }
}
