<mat-card>
    <mat-card-header class="header">
        <mat-card-title>
            {{ (measurementEventTemplate?.date ?? today).toDateString() }}
        </mat-card-title>
        <mat-card-subtitle>
            {{
                measurementEventTemplate
                    ? 'To edit click the button on the upper right corner'
                    : 'Enter your measurements'
            }}
        </mat-card-subtitle>
        <div class="buttons">
            <i
                (click)="editIconClicked()"
                *ngIf="measurementEventTemplate"
                class="fa-solid fa-pen-to-square edit-icon"
            ></i>
            <i (click)="closeClicked()" class="fa-solid fa-xmark close-icon">
            </i>
        </div>
    </mat-card-header>

    <mat-card-content>
        <app-ms-form
            [measurementEventTemplate]="measurementEventTemplate"
            [canEdit]="canEdit"
            (onSubmit)="submitted($event)"
            (onCancel)="cancelClicked()"
            (onClose)="closeClicked()"
            (onDelete)="deleteClicked()"
        ></app-ms-form>
    </mat-card-content>
</mat-card>
