@use '../../../../../assets/styles/theming' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    mat-card-subtitle {
        font-size: 1.5rem;
    }

    i {
        font-size: 2.25rem;
        color: $main-color;
        padding: 1rem;
        display: inline-block;
        cursor: pointer;

        &:hover {
            background-color: $darker-white;
            border-radius: 30%;
        }

        &.edit-icon {
            padding: 0.75rem 0.75rem 1rem 1rem;
            margin-right: 1rem;
        }

        &.close-icon {
            font-size: 2.75rem;
            position: relative;
            top: 2px;
        }
    }
}
