<app-navbar></app-navbar>

<section>
    <h2>Exercises progress</h2>

    <div class="chart-container" *ngIf="showChart">
        <ngx-charts-line-chart
            [results]="dataToVisualize"
            [yAxis]="true"
            [legend]="true"
            [legendPosition]="legendPosition"
            [showGridLines]="false"
        ></ngx-charts-line-chart>
    </div>

    <div class="select-exercise-container">
        <p *ngIf="!workoutsService.lastChartExerciseSelected">
            Please select the exercise that you want to generate a graph for.
        </p>
        <p *ngIf="workoutsService.lastChartExerciseSelected">
            See other exercise data
        </p>
        <button
            mat-raised-button
            color="primary"
            (click)="openSearchExercisesDialog()"
        >
            Select exercise
        </button>
    </div>

    <div
        class="date-picker-container"
        *ngIf="workoutsService.lastChartExerciseSelected"
    >
        <app-date-range-picker
            (rangePicked)="onRangeSelectionReady($event)"
        ></app-date-range-picker>
    </div>
    <div class="margin-div"></div>
</section>
