@use '../../../../../assets/styles/theming' as *;

::ng-deep .chart-legend {
    display: block;
    margin-top: 5rem;
    background-color: $darker-white;
    border-radius: 30px;
    box-shadow: $button-shadow;
    //TODO: Don't use pixels here
    margin-left: 250px;

    div {
        width: 50vw !important;

        .legend-title {
            text-align: center;

            span {
                margin: 1rem 0;
                font-size: 2rem;
                line-height: 3rem;
                font-weight: 500;
                color: $main-color;
            }
        }

        .legend-wrap {
            ul {
                text-align: center;
                height: 4rem;
                background-color: $darker-white;
                border-radius: 30px;
                width: 50vw !important;

                ngx-charts-legend-entry {
                    .legend-label-text {
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }

                    .legend-label-color {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        .legend-label-text {
            color: $black;
        }
    }
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: $main-color;
        margin-bottom: 2rem;
    }

    .chart-container {
        width: 100%;
        height: 40vh;
        margin: auto;
        margin-bottom: 15rem;
        background-color: $darker-white;
        box-shadow: $button-shadow;
        padding-bottom: 4rem;
        border-radius: 30px;
    }

    .select-exercise-container {
        text-align: center;

        background-color: $darker-white;
        box-shadow: $button-shadow;
        width: 50vw;
        margin: 1rem auto;
        padding: 1.5rem;
        border-radius: 30px;

        p {
            color: $main-color;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    .date-picker-container {
        background-color: $darker-white;
        width: 50vw;
        margin: 5rem auto;
        padding: 3rem;
        border-radius: 30px;
        box-shadow: $button-shadow;

        app-date-range-picker {
            font-size: 0.75rem;
        }
    }

    .margin-div {
        min-height: 1px;
    }
}
