<div>
    <h2>Start a workout by selecting some exercises</h2>
    <button
        class="btn"
        mat-raised-button
        color="primary"
        (click)="openSearchExercisesDialog()"
    >
        Select exercises
    </button>
</div>
