@use '../../../../../assets/styles/theming' as *;

div {
    padding: 10rem;
    height: 40vh;
    background-color: $darker-white;

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 3rem;
    }
}
