@use '../../../../../assets/styles/theming' as *;

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    p {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    button {
        font-size: 2rem;

        &:hover {
            background-color: $main-color;
            color: $white;
        }
    }

    .title {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        color: $main-color;
        margin-bottom: 5rem;
    }

    .message-container {
        width: 75%;
        padding: 5rem;
        background-color: $darker-white;
        box-shadow: $section-shadow;
        margin-bottom: 10rem;
        border-radius: 20px;

        .close-icon {
            font-size: 4rem;
            position: relative;
            bottom: 4rem;
            margin-left: calc(100% - 1rem);
            display: inline-block;
            cursor: pointer;
            padding: 1rem;
            color: $main-color;

            &:hover {
                background-color: $white;
                border-radius: 20px;
            }
        }

        .main-color {
            color: $main-color;
        }

        .message {
            position: relative;
            bottom: 3rem;
            font-size: 3rem;
            margin-bottom: 5rem;
        }

        .name,
        .email {
            font-size: 2.5rem;

            a {
                padding: 0.5rem 1.5rem;
                margin-left: 2rem;
                display: inline-block;
                color: $black;
                background-color: $white;
                border-radius: 20px;
                &:hover {
                    border: 1px solid $main-color;
                }
            }
        }
    }
}
