<app-navbar></app-navbar>
<section>
    <ng-container *ngIf="!allMessages.length; else showList">
        <p>The list is empty!</p>
        <button mat-raised-button (click)="fetchTheMessages()">Refresh</button>
    </ng-container>

    <ng-template #showList>
        <h2 class="title">Messages list</h2>

        <div *ngFor="let message of allMessages" class="message-container">
            <i
                class="fa-solid fa-xmark close-icon"
                (click)="done(message._id)"
            ></i>

            <p class="message">
                <span class="main-color">Message:</span> {{ message.message }}
            </p>
            <p class="name">
                <span class="main-color">From:</span> {{ message.senderName }}
            </p>
            <p class="email">
                <span class="main-color">With email:</span>

                <a href="mailto:{{ message.senderEmail }}">
                    {{ message.senderEmail }}
                </a>
            </p>
        </div>
    </ng-template>
</section>
