@use '../../../../assets/styles/theming' as *;

:host {
    flex: 1 1 45rem;
}

form {
    padding: 5rem 2rem;

    h3 {
        text-transform: uppercase;
        font-size: 3.5rem;
        color: $main-color;
        text-align: center;

        .black-text {
            color: $black;
        }
    }

    mat-form-field {
        font-size: 2rem;
        display: block;

        .input-icon {
            margin-right: 1rem;
            color: $main-color;
            font-size: 2.5rem;
            position: relative;
            top: 0.5rem;
        }
    }

    app-error-message {
        position: relative;
        bottom: 2rem;
    }

    button {
        display: block;
        margin: auto;
        box-shadow: $button-shadow;
    }
}
