<app-navbar></app-navbar>
<mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="selectedIndexChanged($event)"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">add_circle</mat-icon>
            Create exercises
        </ng-template>
        <section class="create-exercise tab-content">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Create exercise</mat-card-title>
                    <mat-card-subtitle>
                        And then check it out in the search tab
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <app-exercises-form></app-exercises-form>
                </mat-card-content>
            </mat-card>
        </section>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">search</mat-icon>
            Search exercises
        </ng-template>
        <section class="search-exercises tab-content">
            <app-search-exercises-card
                (redirectToEditTab)="goToTheEditTab()"
            ></app-search-exercises-card>
        </section>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">edit</mat-icon>
            Edit exercises
        </ng-template>
        <section class="edit-exercises tab-content">
            <app-exercises-edit-list></app-exercises-edit-list>
        </section>
    </mat-tab>
</mat-tab-group>
