@use '../../../../../assets/styles/theming' as *;

mat-tab-group {
    .tab-icon {
        margin-right: 10px;
        color: $main-color;
    }

    .tab-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 95vh;

        app-search-exercises-card {
            width: 75%;
            background-color: $darker-white;
            box-shadow: $section-shadow;
            border-radius: 30px;
        }

        app-exercises-edit-list {
            width: 75%;
        }

        mat-card {
            width: 75%;
            box-shadow: $section-shadow;
            background-color: $darker-white;
            border-radius: 30px;

            mat-card-title {
                font-size: 2rem;
                color: $main-color;
            }
        }
    }
}
