<app-navbar></app-navbar>
<section>
    <h2>Measurements progress</h2>

    <div class="chart-container">
        <ngx-charts-line-chart
            [results]="dataToVisualize"
            [yAxis]="true"
            [legend]="true"
            [legendPosition]="legendPosition"
            [showGridLines]="false"
        ></ngx-charts-line-chart>
    </div>

    <div class="date-picker-container">
        <app-date-range-picker
            (rangePicked)="onRangeSelectionReady($event)"
        ></app-date-range-picker>
    </div>
    <div class="margin-div"></div>
</section>
