<section class="main" id="main">
    <div class="content">
        <h1>ShapeShifter</h1>

        <p>Change your body, change your life.</p>
        <p>We will help with tracking and keeping the progress.</p>

        <a
            mat-raised-button
            color="primary"
            routerLink="/public/register"
            class="btn"
        >
            Register
        </a>
    </div>
</section>
<router-outlet> </router-outlet>
