@use '../../../../assets/styles/theming' as *;
@use '../../../../assets/styles/breakpoints' as *;

.main {
    min-height: 100vh;
    background: url(../../../../assets/images/main-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .content {
        max-width: 60rem;
        position: relative;
        top: 17vh;

        h1 {
            font-size: 6rem;
            text-transform: uppercase;
            color: $main-color;
        }

        p {
            font-size: 2rem;
            font-weight: lighter;
            line-height: 1.8;
            line-height: 3rem;
            color: $gray;
        }

        a {
            margin-top: 4rem;
            box-shadow: $button-shadow;
        }
    }
}

@media (max-width: $medium-size-screen) {
    .main {
        background-position: left;
        justify-content: center;
        text-align: center;

        .content {
            h1 {
                font-size: 4.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}
