<mat-card>
    <mat-card-header>
        <mat-card-title>Search exercises</mat-card-title>
        <mat-card-subtitle>
            When you select some exercises you will be able to edit them
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-search-exercises
            *ngIf="shouldShowSearch; else showDone"
            (done)="onExercisesSelected($event)"
        ></app-search-exercises>

        <ng-template #showDone>
            <p class="done-text">
                {{ exercisesSelected.length }}
                {{ exercisesSelected.length > 1 ? 'exercises' : 'exercise' }}
                selected.
            </p>
        </ng-template>
    </mat-card-content>
    <mat-card-actions *ngIf="exercisesSelected.length">
        <button
            class="btn"
            mat-raised-button
            (click)="deleteClicked()"
            color="warn"
        >
            Delete {{ exercisesSelected.length > 1 ? 'them' : 'it' }}
        </button>
        <button class="btn" mat-raised-button (click)="showSearch()">
            Search again
        </button>
        <button
            class="btn"
            mat-raised-button
            (click)="editClicked()"
            color="primary"
        >
            Edit {{ exercisesSelected.length > 1 ? 'them' : 'it' }}
        </button>
    </mat-card-actions>
</mat-card>
