@use '../../../../../assets/styles/theming' as *;

mat-card {
    background-color: $darker-white;
    border-radius: 30px;
    padding: 3rem;

    mat-card-title {
        font-size: 2rem;
        color: $main-color;
    }

    .done-text {
        font-size: 2rem;
        text-align: center;
    }

    mat-card-actions {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        button {
            display: inline-block;
            margin-left: 20px;
            box-shadow: $button-shadow;
        }
    }
}
