<app-navbar></app-navbar>
<mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="selectedIndexChanged($event)"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">add_circle</mat-icon>
            Create workout
        </ng-template>
        <section class="create-workout centered">
            <app-workout-card
                *ngIf="
                    workoutInProgressService.currentWorkout | async;
                    else startWorkout
                "
                [formWorkoutTemplate]="
                    workoutInProgressService.currentWorkout | async
                "
                (closed)="currentWorkoutClosed(); goToTab('workouts-calendar')"
            ></app-workout-card>
            <ng-template #startWorkout>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Create workout</mat-card-title>
                        <mat-card-subtitle>
                            And then check it out in the calendar
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <app-start-workout
                            (workoutWithNoSetsCreated)="
                                updateTheFormTemplate($event)
                            "
                        ></app-start-workout>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </section>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">calendar_month</mat-icon>
            Workouts calendar
        </ng-template>
        <section class="workouts-calendar">
            <div class="calendar-container">
                <mat-calendar
                    [headerComponent]="workoutsCalendar"
                ></mat-calendar>
                <button
                    class="btn"
                    mat-raised-button
                    color="primary"
                    (click)="goToTab('create-workout')"
                >
                    Create workout
                </button>
            </div>
        </section>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">search</mat-icon>
            Search workouts
        </ng-template>
        <section class="search-workouts centered">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Search workout</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-search-workout></app-search-workout>
                </mat-card-content>
            </mat-card>
        </section>
    </mat-tab>
</mat-tab-group>
