@use '../../../../../assets/styles/theming' as *;

mat-tab-group {
    .tab-icon {
        margin-right: 10px;
        color: $main-color;
    }

    app-workouts-form {
        width: 70%;
    }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 95vh;
    }

    mat-card {
        background-color: $darker-white;
        border-radius: 30px;
        box-shadow: $section-shadow;

        mat-card-title {
            font-size: 2rem;
            color: $main-color;
        }
    }

    .workouts-calendar {
        .calendar-container {
            max-width: 40vw;
            margin: 3rem auto;
            background-color: $darker-white;
            padding: 3rem;
            border-radius: 30px;
            box-shadow: $section-shadow;

            mat-calendar {
                width: 100%;
            }

            button {
                display: block;
                margin: auto;
                box-shadow: $button-shadow;
            }
        }
    }
}
