<section class="about">
    <h2 class="heading"><span>about</span> us</h2>

    <div class="row">
        <div class="image">
            <img
                src="../../../../assets/images/about-image.jpg"
                alt="Training woman"
            />
        </div>

        <div class="content">
            <h3>What makes us special?</h3>
            <p>
                We provide a wide variety of functionalities for helping you
                with your fitness goals. We will keep track of your workouts and
                measurements which you can edit any time. Also we have very
                active support and development so feel free to ask any question
                that you might have in the contact us section below.
            </p>
            <a mat-raised-button color="primary" href="#" class="btn"
                >Learn more</a
            >
        </div>
    </div>
</section>
