@use '../../../../assets/styles/theming' as *;

.row {
    display: flex;
    align-items: center;
    background: $black;
    border: 0.2em solid $main-color;
    flex-wrap: wrap;

    .image {
        flex: 1 1 45rem;

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1 1 45rem;
        padding: 2rem;

        h3 {
            font-size: 3rem;
            color: $darker-white;
        }

        p {
            font-size: 1.6rem;
            color: $darker-white;
            padding: 1rem 0;
            line-height: 1.8;
        }
    }
}
