<mat-expansion-panel #expansionPanel>
    <mat-expansion-panel-header>
        <mat-panel-title> {{ title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-stepper linear #stepper>
        <mat-step
            *ngIf="credentialForm"
            [stepControl]="credentialForm"
            label="What's your new {{ credential?.name }}?"
        >
            <form [formGroup]="credentialForm">
                <mat-form-field>
                    <mat-label>New {{ credential?.name }}</mat-label>
                    <input
                        matInput
                        [type]="isCredentialVisible ? 'text' : 'password'"
                        placeholder="{{ credential?.name }}"
                        formControlName="credential"
                        required
                    />
                    <!-- TODO: see why wrapping those mat-icons in ng-container produces different result than the current implementation with 2 ngIf -->
                    <mat-icon
                        matSuffix
                        *ngIf="
                            credentialControl?.value.length &&
                            credential?.isPassword &&
                            isCredentialVisible
                        "
                        (click)="toggleCredentialVisibility()"
                    >
                        visibility_off
                    </mat-icon>
                    <mat-icon
                        matSuffix
                        *ngIf="
                            credentialControl?.value.length &&
                            credential?.isPassword &&
                            !isCredentialVisible
                        "
                        (click)="toggleCredentialVisibility()"
                    >
                        visibility
                    </mat-icon>
                </mat-form-field>
                <app-error-message
                    [control]="credentialControl"
                ></app-error-message>

                <button
                    class="btn right"
                    mat-raised-button
                    color="primary"
                    matStepperNext
                    [disabled]="!credentialControl?.valid"
                >
                    Next
                </button>
            </form>
        </mat-step>
        <mat-step [stepControl]="currentPasswordForm" label="Is it really you?">
            <form [formGroup]="currentPasswordForm">
                <mat-form-field>
                    <mat-label>Password</mat-label>

                    <input
                        matInput
                        [type]="isCurrentPasswordVisible ? 'text' : 'password'"
                        formControlName="currentPassword"
                        placeholder="Password"
                        required
                    />

                    <mat-icon
                        matSuffix
                        *ngIf="
                            currentPasswordControl?.value.length &&
                            isCurrentPasswordVisible
                        "
                        (click)="togglePasswordVisibility()"
                    >
                        visibility_off
                    </mat-icon>
                    <mat-icon
                        matSuffix
                        *ngIf="
                            currentPasswordControl?.value.length &&
                            !isCurrentPasswordVisible
                        "
                        (click)="togglePasswordVisibility()"
                    >
                        visibility
                    </mat-icon>
                </mat-form-field>

                <div class="actions">
                    <button class="btn" mat-raised-button matStepperPrevious>
                        Back
                    </button>
                    <button
                        class="btn"
                        mat-raised-button
                        color="primary"
                        matStepperNext
                        [disabled]="!currentPasswordControl?.valid"
                    >
                        Next
                    </button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Are you sure?">
            <p class="confirmation">
                Are you sure you want to make that change?

                <button
                    mat-stroked-button
                    color="primary"
                    class="cancel-btn"
                    (click)="cancelButtonClicked()"
                >
                    No
                </button>
            </p>

            <div class="actions">
                <button class="btn" mat-raised-button matStepperPrevious>
                    Back
                </button>
                <button
                    class="btn"
                    mat-raised-button
                    color="primary"
                    (click)="submit()"
                    [disabled]="
                        !credentialForm?.valid || !currentPasswordForm.valid
                    "
                >
                    Do it!
                </button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-expansion-panel>
