@use '../../../../../assets/styles/theming' as *;

mat-expansion-panel {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: $button-shadow !important;
    width: 75%;

    mat-panel-title {
        font-size: 2rem;
        color: $main-color;
    }

    form {
        mat-form-field {
            font-size: 2rem;
            display: block;

            mat-icon {
                color: $main-color;
                cursor: pointer;

                &:hover {
                    color: $black;
                }
            }
        }

        app-error-message {
            position: relative;
            bottom: 1.5rem;
        }
    }

    button {
        &.btn {
            box-shadow: $button-shadow;

            &.right {
                display: block;
                margin-left: auto;
            }
        }

        &.cancel-btn {
            margin-left: 1rem;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    .confirmation {
        font-size: 1.5rem;
    }
}
