<div class="form-container">
    <form [formGroup]="measurementEventsForm">
        <mat-form-field>
            <input
                matInput
                type="number"
                placeholder="Weight"
                formControlName="weight"
                readonly="{{ !canEdit }}"
            />
        </mat-form-field>
        <app-error-message [control]="weightControl"> </app-error-message>

        <mat-form-field>
            <input
                matInput
                type="number"
                placeholder="Chest"
                formControlName="chest"
                readonly="{{ !canEdit }}"
            />
        </mat-form-field>
        <app-error-message [control]="chestControl"> </app-error-message>

        <mat-form-field>
            <input
                matInput
                type="number"
                placeholder="Waist"
                formControlName="waist"
                readonly="{{ !canEdit }}"
            />
        </mat-form-field>
        <app-error-message [control]="waistControl"> </app-error-message>

        <mat-form-field>
            <input
                matInput
                type="number"
                placeholder="Hips"
                formControlName="hips"
                readonly="{{ !canEdit }}"
            />
        </mat-form-field>
        <app-error-message [control]="hipsControl"> </app-error-message>

        <mat-form-field>
            <input
                matInput
                type="number"
                placeholder="Biceps"
                formControlName="biceps"
                readonly="{{ !canEdit }}"
            />
        </mat-form-field>
        <app-error-message [control]="bicepsControl"> </app-error-message>

        <app-upload-widget
            *ngIf="canEdit"
            text="Select picture"
            (newPictureUploaded)="newPictureUploaded($event)"
        ></app-upload-widget>
    </form>

    <img
        [src]="this.pictureControl?.value"
        alt="Measurement-picture"
        class="picture"
    />
</div>

<div [class]="!canEdit || !measurementEventTemplate ? 'centered' : 'spaced'">
    <!-- TODO: see why putting class="btn" on those buttons does not change anything -->
    <button
        *ngIf="measurementEventTemplate"
        mat-raised-button
        color="warn"
        (click)="deleteClicked()"
        class="delete-btn"
    >
        Delete
    </button>

    <button
        *ngIf="measurementEventTemplate && canEdit"
        class="btn"
        mat-raised-button
        (click)="cancelClicked()"
    >
        {{ 'Cancel' }}
    </button>

    <button
        *ngIf="canEdit || !measurementEventTemplate"
        mat-raised-button
        color="primary"
        (click)="saveClicked()"
        [disabled]="!measurementEventsForm.valid"
    >
        Save
    </button>
</div>
