.form-container {
    display: flex;
    justify-content: space-between;

    form {
        width: 45%;

        mat-form-field {
            font-size: 1.5rem;
            display: block;
            margin-top: 20px;
        }

        app-error-message {
            position: relative;
            bottom: 1rem;
        }
    }

    .picture {
        width: 45%;
    }

    app-upload-widget {
        display: block;
        font-size: 0.75rem;
        text-align: center;
    }
}

.spaced {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.centered {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
