<section class="blogs">
    <h2 class="heading">our <span>blogs</span></h2>
    <div class="blogs-container">
        <app-blog
            [title]="'Why should you train'"
            [imageSource]="'../../../../assets/images/blog1.jpg'"
            [blogSource]="
                'https://www.nhs.uk/live-well/exercise/exercise-health-benefits/'
            "
        >
            See why physical training is arguably the most wise use of your
            time.
        </app-blog>

        <app-blog
            [title]="'How importnant is cardio'"
            [imageSource]="'../../../../assets/images/blog2.jpg'"
            [blogSource]="'https://www.healthline.com/health/cardio-everyday'"
        >
            It's time to stop neglecting the most important muscle in your body
        </app-blog>

        <app-blog
            [title]="'What is protein'"
            [imageSource]="'../../../../assets/images/blog3.jpg'"
            [blogSource]="
                'https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/protein/'
            "
        >
            Learn why and how you can build muscle without strict diets.
        </app-blog>
    </div>
</section>
