@use '../../../../../assets/styles/theming' as *;

mat-card {
    background-color: $darker-white;
    border-radius: 30px;
    box-shadow: $section-shadow;

    mat-card-title {
        font-size: 2rem;
        color: $main-color;
    }
}
