<mat-card>
    <mat-card-header>
        <mat-card-title>Search exercises</mat-card-title>
        <mat-card-subtitle>
            And then check it out in the calendar
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-search-exercises
            [selectButtonLabel]="data?.selectButtonLabel"
            [allowOnlyOneSelection]="data?.allowOnlyOneSelection ?? false"
            (done)="emit($event)"
        ></app-search-exercises>
    </mat-card-content>
</mat-card>
