@use '../../../../assets/styles/theming' as *;

.period-buttons {
    display: flex;
    justify-content: space-between;

    button {
        border: $border;
        margin-left: 1rem;

        &:hover,
        &.active {
            background-color: $main-color;
            border: 1px solid $main-color;
            color: white;
        }
    }
}

.from-to-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.period-btn {
    margin: auto;
    display: block;
    min-width: 15%;
    font-size: 2em;
    padding: 0.25rem 0;
}

.select-btn {
    display: block;
    margin: auto;
}
