<div class="period-buttons" #periodButtons>
    <button
        class="period-btn"
        #allBtn
        mat-stroked-button
        (click)="makeActive(allBtn); selectLastMonths()"
    >
        All
    </button>
    <button
        class="period-btn"
        #allBtn
        #yearBtn
        mat-stroked-button
        (click)="makeActive(yearBtn); selectLastMonths(12)"
    >
        year
    </button>
    <button
        class="period-btn"
        #allBtn
        #months6
        mat-stroked-button
        (click)="makeActive(months6); selectLastMonths(6)"
    >
        6 months
    </button>
    <button
        class="period-btn"
        #allBtn
        #months3
        mat-stroked-button
        (click)="makeActive(months3); selectLastMonths(3)"
    >
        3 months
    </button>
    <button
        class="period-btn"
        #allBtn
        #month1
        mat-stroked-button
        (click)="makeActive(month1); selectLastMonths(1)"
    >
        1 month
    </button>
</div>

<div class="from-to-container">
    <mat-form-field>
        <input
            matInput
            [matDatepicker]="fromPicker"
            placeholder="From"
            [formControl]="fromDateControl"
        />
        <mat-datepicker-toggle
            matSuffix
            [for]="fromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            [matDatepicker]="toPicker"
            placeholder="To"
            [formControl]="toDateControl"
        />
        <mat-datepicker-toggle
            matSuffix
            [for]="toPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
</div>

<button
    class="btn select-btn"
    mat-raised-button
    color="primary"
    [disabled]="!(fromDateControl.valid && toDateControl.valid)"
    (click)="selectClicked()"
>
    Select
</button>
