@use '../../../../assets/styles/theming' as *;

.review {
    border: $border;
    text-align: center;
    padding: 3rem 2rem;
    background-color: $white;

    p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: $black;
        padding: 2rem 0;
    }

    .user {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
    }

    h3 {
        font-weight: 500;
        padding: 1rem 0;
        font-size: 2rem;
        color: $main-color;
    }

    .stars i {
        font-size: 1.5rem;
        color: $main-color;
    }
}
