@use '@angular/material' as mat;
@use 'assets/styles/public-global-styles';
@use 'assets/styles/theming' as *;
@include mat.core();

$md-blue: (
    50: #e8eaf6,
    100: #c5cbe9,
    200: #9fa8da,
    300: #7985cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #394aae,
    700: #3140a5,
    800: #29379d,
    900: #1b278d,
    A100: #c6cbff,
    A200: #939dff,
    A400: #606eff,
    A700: #4757ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);
$shapeshifter-frontend: mat.define-palette($md-blue);
$shapeshifter-frontend-theme: mat.define-light-theme(
    (
        color: (
            primary: $shapeshifter-frontend,
            accent: $shapeshifter-frontend
        )
    )
);

@include mat.all-component-themes($shapeshifter-frontend-theme);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.round-without-padding {
    .mat-dialog-container {
        padding: 0px;
        border-radius: 30px;
    }
}
.round-white-background {
    background-color: white;
    color: #5c6bc0;
}
