@use 'theming' as *;
@use 'breakpoints' as *;

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: $background;
    }

    &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 5rem;
    }

    body {
        background-color: $background;

        section {
            padding: 2rem 7%;

            .heading {
                text-align: center;
                color: $black;
                text-transform: uppercase;
                padding-bottom: 3.5rem;
                font-size: 4rem;

                span {
                    color: $main-color;
                    text-transform: uppercase;
                }
            }

            .btn {
                margin-top: 1rem;
                display: inline-block;
                padding: 0.5rem 2rem;
                font-size: 1.7rem;
                transition: letter-spacing 0.2s linear;
                cursor: pointer;

                &:hover {
                    letter-spacing: 0.2rem;
                    background-color: $white;
                    color: $main-color;
                }
            }
        }
    }
}

@media (max-width: $large-size-screen) {
    html {
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: $small-size-screen) {
    html {
        font-size: 50%;
    }
}
