$main-color: #4d4dd5;
$black: #26262d;
$darker-white: #eee;
$white: #fff;
$background: rgba(203, 201, 201, 1);
$border: 0.3rem solid $main-color;
$blue: rgb(77, 77, 213);
$gray: rgb(89, 86, 86);
$section-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
$button-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
