@use '../../../../assets/styles/theming' as *;

button {
    letter-spacing: 0.1rem;
    background-color: $white;
    outline: 0.2rem solid $main-color;
    color: $main-color;
    font-size: 2em;
    transition: letter-spacing 0.2s linear;

    &:hover {
        letter-spacing: 0.4rem;
    }
}
