<form>
    <div
        class="top-actions"
        [ngClass]="{ centered: !workoutFormTemplate?._id }"
    >
        <button
            *ngIf="workoutFormTemplate?._id"
            class="copy-workout-btn"
            type="button"
            mat-stroked-button
            color="primary"
            (click)="copyClicked()"
        >
            Copy
        </button>
        <button
            class="add-exercises-btn"
            type="button"
            mat-stroked-button
            color="primary"
            (click)="openSearchExercisesDialog()"
        >
            Add exercises
        </button>
    </div>
    <div *ngFor="let exercise of exercises">
        <div class="expansion-panel-container">
            <mat-expansion-panel
                [expanded]="exercisesThatShouldBeExpanded.has(exercise)"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ exercise.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div
                    class="sets"
                    *ngFor="
                        let setFormGroup of exerciseExecutions.get(exercise)
                            ?.controls;
                        index as setIndex
                    "
                >
                    <div class="set-container">
                        <span class="set-number">{{ setIndex + 1 }}.</span>
                        <div>
                            <mat-form-field>
                                <input
                                    matInput
                                    type="number"
                                    [placeholder]="
                                        exercise.isCardio ? 'Time' : 'Kilograms'
                                    "
                                    [formControl]="
                                        getFormControls(setFormGroup)[0]
                                    "
                                />
                            </mat-form-field>
                            <app-error-message
                                [control]="getFormControls(setFormGroup)[0]"
                            ></app-error-message>
                        </div>

                        <div>
                            <mat-form-field>
                                <input
                                    matInput
                                    type="number"
                                    [placeholder]="
                                        exercise.isCardio ? 'Distance' : 'Reps'
                                    "
                                    [formControl]="
                                        getFormControls(setFormGroup)[1]
                                    "
                                />
                            </mat-form-field>
                            <app-error-message
                                [control]="getFormControls(setFormGroup)[1]"
                            ></app-error-message>
                        </div>

                        <mat-icon
                            class="delete-icon"
                            (click)="removeSet(exercise, setIndex)"
                        >
                            delete
                        </mat-icon>
                        <button mat-icon-button color="warn"></button>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <button
                    mat-raised-button
                    color="primary"
                    class="add-set-btn"
                    type="button"
                    (click)="addSet(exercise)"
                >
                    Add set
                </button>
            </mat-expansion-panel>
            <mat-icon
                class="delete-icon"
                (click)="removeExerciseExecution(exercise)"
            >
                delete
            </mat-icon>
        </div>
    </div>
    <div class="actions">
        <button
            class="delete-btn"
            *ngIf="workoutFormTemplate?._id"
            mat-raised-button
            type="button"
            (click)="deleteClicked()"
            color="warn"
        >
            Delete
        </button>
        <button
            mat-raised-button
            type="button"
            (click)="saveClicked()"
            color="primary"
        >
            Save
        </button>
    </div>
</form>
