@use '../../../../../assets/styles/theming' as *;

form {
    background-color: $darker-white;
    border-radius: 20px;
    min-width: 50vw;
    padding: 3rem;
    padding-top: 0;

    .top-actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        button {
            margin: 0 10%;
            border: $border;

            &:hover {
                border: 1px solid $main-color;
                background-color: $main-color;
                color: $white;
            }
        }

        &.centered {
            justify-content: center;
        }
    }

    .delete-icon {
        font-size: 3rem;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    .expansion-panel-container {
        display: flex;

        mat-expansion-panel {
            flex-grow: 1;
            margin-bottom: 3rem;
            border-radius: 20px;

            mat-expansion-panel-header {
                font-size: 2rem;

                mat-panel-title {
                    color: $main-color;
                }
            }
        }

        .set-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .set-number {
                font-size: 2rem;
            }

            div {
                flex-grow: 1;

                mat-form-field {
                    font-size: 2rem;
                    margin-left: 10%;
                    margin-top: 1rem;
                }

                app-error-message {
                    position: relative;
                    bottom: 1.5rem;
                    display: block;
                    margin-left: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }

        .add-set-btn {
            display: block;
            margin: auto;
            margin-top: 3rem;
        }
    }

    .actions {
        display: flex;
        justify-content: center;

        button {
            min-width: 15%;

            &.delete-btn {
                margin-right: 2rem;
            }
        }
    }
}
