@use '../../../../assets/styles/theming' as *;

.feature {
    padding: 5rem;
    text-align: center;
    border: $border;
    background-color: $black;

    img {
        height: 10rem;
        border-radius: 50%;
        border: $border;
    }

    h3 {
        color: $darker-white;
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: normal;
    }
}
