@use '../../../../assets/styles/theming' as *;

mat-selection-list {
    height: 50vh;

    .actions-container {
        margin-top: 3rem;
        margin-bottom: 10px;
        display: flex;
        align-content: center;
        align-items: flex-start;
        justify-content: space-between;

        button {
            border: 1px solid $main-color;
        }

        mat-form-field {
            font-size: 2rem;
            height: 4rem;
            position: relative;
            bottom: 2rem;
        }
    }

    cdk-virtual-scroll-viewport {
        height: 85%;
        width: 100%;
    }

    mat-list-option {
        color: $main-color;
        background-color: $white;

        mat-chip {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            color: $main-color;
        }

        mat-icon {
            color: $black;
        }

        .name {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: $black;
        }

        .muscles-container {
            margin-bottom: 5rem;
        }
    }
}

.select-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
