<mat-selection-list
    *ngIf="currentSearch?.results?.length"
    (selectionChange)="onSelectionChange($event)"
>
    <mat-divider></mat-divider>
    <div class="actions-container">
        <button
            class="clear-all-btn"
            mat-stroked-button
            color="primary"
            (click)="onClearAll()"
        >
            Clear all
        </button>
        <mat-form-field>
            <input
                matInput
                focus
                [formControl]="filterByNameControl"
                placeholder="Search by name"
            />
        </mat-form-field>
        <button
            class="select-all-btn"
            mat-stroked-button
            color="primary"
            (click)="onSelectAll()"
        >
            Select all
        </button>
    </div>

    <cdk-virtual-scroll-viewport
        [itemSize]="50"
        *ngIf="(exercisesAvailableForSelection | async)?.length"
    >
        <mat-list-option
            *cdkVirtualFor="
                let exercise of exercisesAvailableForSelection | async
            "
            [value]="exercise"
            [selected]="selection.isSelected(exercise)"
        >
            <mat-divider></mat-divider>
            <mat-icon mat-list-icon>
                {{ exercise.isCardio ? 'directions_run' : 'fitness_center' }}
            </mat-icon>

            <div mat-line class="name">
                {{ exercise.name }}
            </div>

            <div mat-line *ngIf="exercise.isCardio; else showMuscleGroups">
                Cardio
            </div>
            <ng-template #showMuscleGroups>
                <div mat-line>
                    Primary muscle:
                    <mat-chip>{{ exercise.primaryMuscleGroup }}</mat-chip>
                    <span *ngIf="exercise.secondaryMuscleGroups.length">
                        Secondary muscles:
                        <mat-chip
                            *ngFor="
                                let secondaryMuscle of exercise.secondaryMuscleGroups
                            "
                        >
                            {{ secondaryMuscle }}
                        </mat-chip>
                    </span>
                </div>
            </ng-template>
        </mat-list-option>
    </cdk-virtual-scroll-viewport>
</mat-selection-list>

<button
    mat-raised-button
    (click)="emitCurrentlySelectedExercises()"
    [disabled]="selection.isEmpty()"
    color="primary"
    *ngIf="currentSearch?.results?.length && !allowOnlyOneSelection"
    class="select-btn"
>
    {{ selectButtonLabel }}
</button>
