<section>
    <p *ngIf="measurementEventForToday">
        You have already submitted a measurement event for today
    </p>

    <button
        *ngIf="!measurementEventForToday"
        class="btn"
        mat-raised-button
        color="primary"
        (click)="openMsDialog()"
        [disabled]="measurementEventForToday"
    >
        Create measurement event
    </button>
</section>
