@use '../../../../../assets/styles/theming' as *;

section {
    text-align: center;

    p {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        color: $gray;
    }

    button {
        box-shadow: $button-shadow;
    }
}
