<header>
    <nav>
        <button
            mat-mini-fab
            color="primary"
            id="menu-btn"
            [mat-menu-trigger-for]="menu"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="" fragment="about-us">
                <mat-icon>account_box</mat-icon>
                <span>About us</span>
            </a>
            <a mat-menu-item routerLink="" fragment="features">
                <mat-icon>mood</mat-icon>
                <span>Features</span>
            </a>
            <a mat-menu-item routerLink="" fragment="reviews">
                <mat-icon>star</mat-icon>
                <span>Reviews</span>
            </a>
            <a mat-menu-item routerLink="" fragment="contact-us">
                <mat-icon>phone</mat-icon>
                <span>Contact us</span>
            </a>
            <a mat-menu-item routerLink="" fragment="blogs">
                <mat-icon>article</mat-icon>
                <span>Blogs</span>
            </a>
        </mat-menu>

        <a class="nav-link" routerLink="" fragment="about-us">
            <i class="nav-link-icon fa-solid fa-address-card"></i>
            About us
        </a>
        <a class="nav-link" routerLink="" fragment="features">
            <i class="nav-link-icon fa-solid fa-face-smile"></i>
            Features
        </a>
        <a class="nav-link" routerLink="" fragment="reviews">
            <i class="nav-link-icon fa-solid fa-star"></i>
            Reviews
        </a>
        <a class="nav-link" routerLink="" fragment="contact-us">
            <i class="nav-link-icon fa-solid fa-phone"></i>
            Contact us</a
        >
        <a class="nav-link" routerLink="" fragment="blogs">
            <i class="nav-link-icon fa-solid fa-link"></i>
            Blogs
        </a>
        <a class="nav-link login-btn" id="login-btn" routerLink="/public/login">
            <i class="nav-link-icon fa-solid fa-right-to-bracket"></i>
            Login
        </a>
    </nav>
</header>
